@font-face {
    font-family: 'DroidArabicKufiBold';
	src: url('../fonts/DroidKufi-Regular_1.ttf') ;	 
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('../fonts/GE_Flow_Regular.otf');
    src: url('../fonts/DroidKufi-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GE_Flow_Regular';
    src: url('../fonts/GE_Flow_Regular.otf')  ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GE_SS_Two_Bold';
    src: url('../fonts/GE_SS_Two_Bold.otf')  ;
    font-weight:bold;
    font-style: normal;
}

@font-face {
    font-family: 'GE_SS_Two_Light';
    src: url('../fonts/GE_SS_Two_Light_1.otf') format('truetype');
    font-weight:lighter;
    font-style: normal;
}

@font-face {
    font-family: 'GE_SS_Two_Medium';
    src: url('../fonts/GE_SS_Two_Medium_1.otf') format('truetype');
    font-weight:600;
    font-style: normal;
}
.search_anim1::placeholder { font-weight:bold; font-size:17px; color:#666666;}

#slc {}
.kufi_16 { font-family:'DroidArabicKufiRegular'; padding:5px; }

.kufi_1  { font-family:'DroidArabicKufiRegular';   }

.GE_Flow  { font-family:'GE_Flow_Regular';   }
.read ,   .breadcrumb ,.breadcrumb h1 { font-family:'DroidArabicKufiRegular'; font-size:14px;    }
/* 
p { font-family:'GE_SS_Two_Light'; font-size:14px;} */
p { font-family:"Times New Roman", Times, serif; font-size:16px;}

.p_fr { direction:ltr ;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
.p_gros {    font-family:Verdana, Arial, Helvetica, sans-serif; font-size:20px;}
.serviceBox_3 { text-align:justify}
.service-icon { text-align:center}

h1, h2, h3, h4, h5, h6 { font-family:'DroidArabicKufiBold'}

.progress_skill .bar { text-align:right}


.breadcrumb li:first-child { padding-right:50px;  }
.ar { direction:rtl}
.menu_media  .dropdown-menu  { padding:10px; text-align:right}

/****** TABS ******************/
.nav {
  margin-bottom: 0;
  padding-right: 0;
  list-style: none;
  direction:rtl;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.nav > li.disabled > a {
  color: #e4eaec;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #e4eaec;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: #5d9cec;
}

.nav .nav-divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
  float: right;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #dddddd #dddddd #dddddd;
  background:#EDF0EF;
}


 .nav-tabs > li > a 
  {
  color: #0C5043;
   
}
 
 
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #0C5043;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  right: auto;
}


.footer {
    direction: rtl;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #f5f7fa;
  }
}

.nav-pills > li {
  float: right;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-right: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0299A7;
}
.nav-pills > li  a {
     background-color: #E1EBE9;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-right: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  right: auto;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-left: 0;
  border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #f5f7fa;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
  position: relative;
  min-height: 55px;
  margin-bottom: 21px;
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: right;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse.in {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

/***********************/
.menu_media  { float:left }
#fatawa-blog div.menu_media  { float:inherit;     margin-bottom: 30px;  }

 #fatawa-blog div.rech label { font-weight:bold; font-size:20px;text-align: left;    margin-top: 5px;}
 .fatawa-header { font-size:18px; }
 .fatawa-title {font-size:18px; }
 
 .div-btn , .reduce {text-align: left;}
 
 #cat , #cat option { font-weight:bold;}

.modal { direction:rtl ; font-family:'DroidArabicKufiRegular';}

.modal placeholder { color:#ddd}

h3 .imp { font-size:24px;}


/***************************************/

.cadre2 { font-size:25px;font-family:'DroidArabicKufiRegular';}

.help-block { text-align:left}	 

 .search_anim   {
    
    font-size: 20px;
    background-position: left 8px;
}

 .search_anim1   {
 	 
    background-position: left 8px;
    
    
   
}

.search_anim::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family:'DroidArabicKufiRegular';
     font-size: 20px;
	
}
.search_anim::-moz-placeholder { /* Firefox 19+ */
  font-size: 20px;
}
.search_anim:-ms-input-placeholder { /* IE 10+ */
  font-size: 20px;
}
.search_anim:-moz-placeholder { /* Firefox 18- */
  font-size: 20px;
}
.map-img img   , .map-img a  {
    float: left;
}
.cadre3 a { font-size:30px ;  }
.c_int { font-size:16px; }
/******************/
#main-menu2 {

    width: 100%;
}

::-webkit-input-placeholder {
  font-size:14px;
}

:-moz-placeholder { /* Firefox 18- */
  font-size:14px; 
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size:14px;
}

:-ms-input-placeholder {  
  font-size:14px; 
}

.select-pick { direction:rtl}
.bootstrap-select.btn-group .dropdown-menu li a { float: right}

.c_int span.lib {
    font-family: 'DroidArabicKufiBold',arial ;
    color: #005443;
	font-size:16px;
}
.table-responsive {
      direction:ltr !important;
      }
.table-responsive .table {
      direction:rtl !important;
}

.volet li a { 
 	font-family: 'DroidArabicKufiBold',arial;
     
	font-size:16px;
}

#menu ul li a {
   font-family: 'DroidArabicKufiBold',arial;    
	font-size:14px;
}
#menu ul li .date , #menu ul li .page-link  {
   	font-family: arial;    
	font-size:14px;
	font-weight:bold;
}
  

#rapport p a {
   font-family: 'DroidArabicKufiBold',arial;
     
	font-size:18px;
}
.bootstrap-select { width:100%; text-align:right;}
.pan-slide  { padding:5px 10px; border-right:#eee 5px solid; border-left:none;}

.contenu h2 {font-family: arial; font-size:24px;}
.contenu h3 {font-family: arial; font-size:20px;}
.smart_btn  span {   font-size:16px; }
.sm,.sm ul,.sm li{direction:rtl;text-align:right;}
#simul1 .control-label {
    color: #333333;
    direction: rtl;
     font-size:16px;
}
.btn-simul {text-align:right;}
.help-block {text-align: left;}
#currency ul li {  font-size:14px }
#blog h3 {font-size:20px;  }
.my-label {font-family: 'El Messiri', sans-serif;}
.close {
    float: left; }