    @font-face {
    font-family: 'Friz Quadrata';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata'), url('../fonts/Friz-Quadrata-Std-Regular.otf') format("opentype");
    }



    @font-face {
    font-family: 'Friz Quadrata Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Italic'), url('../fonts/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Friz Quadrata Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Medium'), url('../fonts/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Friz Quadrata Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold'), url('../fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Friz Quadrata Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold Italic'), url('../fonts/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
    }
	
	
	 @font-face {
    font-family: 'GESS';
    font-style: normal;
    font-weight: normal;
    src:  url('../fonts/GE_SS_Two_Light.otf') format("opentype");
    }
	
	
	 @font-face {
    font-family: 'DROID';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/DroidKufi-Regular.ttf')  ;
    }
	
	
	@font-face {
    font-family: 'GE_SS_Two_Light';
    src: url('../fonts/GE_SS_Two_Light.otf') format('truetype');
    font-weight:lighter;
    font-style: normal;
}

@font-face {
    font-family: 'GE_SS_Two_Medium';
    src: url('../fonts/GE_SS_Two_Medium.otf') format('truetype');
    font-weight:600;
    font-style: normal;
}
	